*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

header {
	background-image: url("../img/top_bg.jpg");
	min-height: 644px;
	background-repeat: repeat-x;
	background-position: top center;
	position: relative;
	font-family: "BebasBold";
}
.top_line {
	min-height: 98px;
	-webkit-box-shadow: rgba(255, 255,255, .3) 0 0 0 1px;
	box-shadow: rgba(255, 255,255, .3) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	padding: 22px 0; 
}

.top_line a {
	font-size: 21px;
	border-bottom: #fff dashed 1px;
}

.top_line a:hover {
	border-bottom: transparent 1px dashed;
	transition: all .25s;
}

.top-add {
	padding-left: 50px;
	background-image: url(../img/top_map.png); 
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 28px;

}

.top-add strong {
	display: block;
	color: #d12f22;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 32px;
}
header a {
	color: #fff;
}

.top_line .logo {
	border-bottom: none;
	position: absolute;
	margin-top: -18px;
}

.top_line .logo:hover {
	border-bottom: none;
}

.logo_wrap {
	position: relative;
	width: 240px;
	margin: auto;
}

.ta_right {
	background-image: none;
	padding-left: 0;
	text-align: right;
}

.ta_right span {
	color: #fff;
}

header h1 {
	text-align: center;
	color: #fff;
	margin-top: 65px;
	font-size: 40px;
	text-shadow: 0 3px rgba(0, 0, 0, 0.55);
	font-family: "BebasRegular";
}

.button {
	display: inline-block;
	background-color: #d12f22;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 25px;
	font-size: 20px;
	border-bottom: #ac160a 4px solid;
}

header .button {
	margin-right: 20px;
}

.st_button {
	line-height: 18px;
	padding-top: 7px;
	text-align: left;
	padding-left: 63px;
	background-image: url(../img/foto-icon.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}

.buttons_top {
	position: absolute;
	bottom: 32px;
	width: 100%;
}

.button:hover {
	background-color: #b81609;
}

.button:active {
	background-color: #a7190f;
}

.top_mnu {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255, 255,255, .3) 0 0 0 1px;
	box-shadow: rgba(255, 255,255, .3) 0 0 0 1px;
	font-family: "BebasRegular", "Arial", sent-serif;
	text-transform: uppercase;
}
.top_mnu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 0;
	display: inline-block;
}

.top_mnu a {
	color: #ffffff;
	font-size: 20px;
	padding: 0 26px 0 54px;
	display: block;
	line-height: 62px;
	border-left: 1px solid #3b3b3b;
}

.top_mnu li {
	display: inline-block;
	/*float: left;*/
}

.top_mnu li.active,
.top_mnu a:hover {
	background-color: #050505;
}

.top_mnu li a {
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: 20px 20px;
}

.top_mnu li:nth-child(2) a {
	background-position: -122px 19px;
}
.top_mnu li:nth-child(3) a {
	background-position: -243px 20px;
}
.top_mnu li:nth-child(4) a {
	background-position: -367px 20px;
}
.top_mnu li:nth-child(5) a {
	background-position: -556px 20px;
}
.top_mnu li:nth-child(6) a {
	background-position: -712px 20px;
}

.garanty {
	display: inline-block;
	color: #ffffff;
	cursor: default;
	font-size: 15px;
	border: 3px solid #ffffff;
	border-radius: 3px;
	padding: 3px 5px;
	margin-top: 7px;
}

.g_left {
	font-size: 30px;
	font-family: "BebasBold", "Arial", sent-serif;
	margin-top: 10px;
	margin-right: 6px;
}

.g_left span {
	font-size: 20px;
}

.g_left,
.g_right {
	display: inline-block;
	vertical-align: top;
	line-height: 18px;
}

.g_right {
	font-family: "RobotoCondensedRegular", "Arial", sent-serif;
}

.main_cards {
	background-color: #191919;
	padding: 20px 0px 32px 0px;
}

.main_cards h2 {
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular", "Arial", sent-serif;
	font-size: 40px;
	text-align: center;
}

.main_cards h2 strong {
	color: #ffffff;
}

.main_cards h2 span {
	color: #d12f22;
}

section h2 {
	position: relative;
}

.s_black h2::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url("../img/header_img.png");
	top: 17px;
	margin-left: -68px;
} 

.s_black h2::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	background-image: url("../img/header_img.png");
	top: 17px;
	margin-left: 17px;
	background-position: -50px 0;
} 

.mc_item {
	border: #353535 1px solid;
	border-radius: 3px;
}

.mc_wrap {
	text-align: center;
	padding: 0;
	position: relative;
}

.mc_item_wrap {
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;
}

.mc_item_wrap a {
	color: #ffffff;
}

.mc_item span {
	display: block;
	height: 85px;
	width: 130px;
	background-image: url("../img/icon_set.png");
	margin: 5px auto;
}

.mc_item_wrap:nth-child(1) {
	margin-left: 0;
}

.mc_item_wrap:nth-child(1) span {
	background-position: 11px 0px;
}

.mc_item_wrap:nth-child(2) span {
	background-position: -133px 0px;
}

.mc_item_wrap:nth-child(3) span {
	background-position: -277px 0px;
}

.mc_item_wrap:nth-child(4) span {
	background-position: -418px 0px;
}

.mc_item_wrap:nth-child(5) span {
	background-position: -553px 0px;
}

.mc_item_wrap:nth-child(6) span {
	background-position: -693px 0px;
}

.mc_item h4 {
	text-transform: uppercase;
	font-family: "BebasBold", "Arial", sent-serif;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}

.mc_item a:hover h4,
.mc_wrap li.active h4 {
	text-decoration: underline;
}

.mc_item_wrap.active,
.mc_item_wrap:hover {
	background-color: #2a2a2a;
}

.mc_toggle {
	background-color: #212121;
	position: relative;
	height: 25px;
	cursor: pointer;
	background-image: url("../img/check_set.png");
	background-repeat: no-repeat;
	background-position: 75px 9px;
}

.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle {
	background-color: #353535;
	background-position: -13px 9px;
}

.mc_wrap .mc_item_wrap > ul {
	position: absolute;
	width: auto;
	text-align: center;
	background-color: #353535;
	margin-top: 25px;
	padding: 0;
	font-size: 20px;
	list-style-type: none;
	padding: 15px 0;
	z-index: 10;
	display: none;
}

.mc_item_wrap > ul li{
	position: relative;
	display: inline-block;
	font-family: "BebasRegular", "Arial", sent-serif;
	padding: 0;
	margin: 10px 0 5px;
	line-height: 20px;
}

.mc_item_wrap > ul li a {
	padding: 0 10px;
	text-decoration: underline;
}

.mc_item_wrap > ul li:hover a {
	text-decoration: none;
}

.main_cards_button .button {
	color: #ffffff;
	padding: 0 20px;
	font-family: "BebasRegular", "Arial", sent-serif;
	text-transform: uppercase;
}

